---
const { title = 'Hi 👋 | Blog by Chetan Raj' } = Astro.props;
import '../styles/global.css';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';

const base = import.meta.env.BASE_URL.endsWith('/')
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" href={`${base}icons/icon-48x48.png`} />
    <link rel="apple-touch-icon" href={`${base}icons/icon-48x48.png`} />
    <link rel="apple-touch-icon" href={`${base}icons/icon-72x72.png`} />
    <link rel="apple-touch-icon" href={`${base}icons/icon-96x96.png`} />
    <link rel="apple-touch-icon" href={`${base}icons/icon-144x144.png`} />
    <link rel="apple-touch-icon" href={`${base}icons/icon-192x192.png`} />
    <link rel="apple-touch-icon" href={`${base}icons/icon-256x256.png`} />
    <link rel="apple-touch-icon" href={`${base}icons/icon-384x384.png`} />
    <link rel="apple-touch-icon" href={`${base}icons/icon-512x512.png`} />
  </head>
  <body>
    <SiteHeader title={Astro.props.headerTitle} />
    <section class="w-3/4 m-auto">
      <main class="h-sc">
        <div class="">
          <slot />
        </div>
      </main>
    </section>
    <SiteFooter />
  </body>
</html>
